:root{
    --purple: #490988;
    --blue: #10D7E2;
    --background-primary: #121212;
    --background-secondary: #151515;
    --font-color-primary: #FFFFFF;
    --font-color-secondary: #C4C4C4;
    --font-color-tertiary: #00D2DF;
}
body{
    background-color: var(--background-primary);
    color: var(--font-color-primary);
    font-family: 'Inter', arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--font-color-primary);
    font-weight: 300;
}
h1{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.438rem;
    padding: 0;
    margin: 0;
}
h2{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.625rem;
    padding: 0;
    margin: 0;
}
h3{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.21rem;
}
h4{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.063rem;
}
h5{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
}
p{
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: var(--font-color-secondary);
}
button{
    background: transparent;
    color: var(--font-color-primary);
    border-radius: .5rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.063rem;
    border: none;
}
button p{
    color: var(--font-color-primary);
}
.button-grad {
    background-image: linear-gradient(to right, var(--blue) 0%, var(--purple)  51%, var(--blue)  100%);
    transition: 1s;
    background-size: 200% auto;
}
.button-grad:hover, .button-grad-blue:hover {
    background-position: right center;
    text-decoration: none;
}
.button-grad-blue {
    background-image: linear-gradient(to right, var(--purple) 0%, var(--blue)  51%, var(--purple)  100%);
    transition: 1s;
    background-size: 200% auto;
}
.button-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}
.button-flex :first-child{
    padding-right : 1.063rem;
}
.button-projeto{
    width: 100%;
}
.header{
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header h3{
    color: var(--font-color-tertiary);
}

.bar{
    height: 1px;
    width: 100%;
    background-color: var(--font-color-primary);
    overflow: hidden;
    
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-6px);
}
#bar3{
    transform: translateY(6px);
}
.nav li a:hover{
    font-weight: bold;
}
.nav li{
    list-style: none;
    padding: 6px;
}
.nav{
    padding: 0;
    margin: 0;
    transition: .3 ease;
    display: none;
}

#menu{
    width: 3rem;
    height: 1rem;
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.menu-bg, #menu-bar{

  
}
.menu-bg {
    z-index: -1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, var(--blue), var(--purple));
    border-radius: 5%;
    transition: .3s ease;
}
#menu-bar{
    z-index: 2;
}
.change{
    display: block;
}
.change-nav{
    display: block;
    position: fixed;
    top: 3.5rem;
    right: 5%;
}
.change .bar{
    background-color: #FFFFFF;
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2{
    opacity: 0;
}
.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}
.section{
    background-color: var(--background-secondary);
    padding: 5%;
    margin: 3.65rem 0;
}
.presentation{
    padding: 0 5%;
}
#name{
    color: var(--font-color-tertiary);
}
.br::before{
    content: "\a";
    white-space: pre;
}
.flex-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2.25rem 0;
}
.icon:hover{
    filter: hue-rotate(75deg);
    transition: all 500ms;
}
.about-me{
    display: flex;
    justify-content: space-around;
}
.experience{
    padding: 0 5%;
}
.title-company{
    width: 50%;
    padding: 1.813rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-secondary);
}
.selected{
    border-bottom: 2px solid var(--font-color-tertiary);
    color: var(--font-color-primary);
}
.m-p-0{
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
}
.title-company-descripition{
    color: var(--font-color-tertiary);
}
.projects{
    padding: 5%;
}
.project{
    margin: 2.875rem 0;
}
.projects-tec{
    color: var(--font-color-tertiary);
}
.projects-tec-button{
    width: 100%;
}
.projects-no-photo{
    width: 100%;
    padding: 1.875rem 0;
    color: var(--font-color-tertiary);
    border-left: var(--font-color-tertiary) 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-looper{
    display: none;
}
.img-about-me{
    display: none;
}
footer{
padding: 0 5%;
}

#goHome {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--background-secondary);
    text-indent: -9999px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 10;
    }

#goHome span {
    content: "▲";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: var(--blue);
}

#goHome:hover {
    transition: 0.2s;
    background-color: var(--purple);
    color: var(--blue);
}

#goHome:hover span {
    border-bottom-color: var(--blue);
}

@keyframes animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes nav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 900px){

    body {
        max-width: 1600px;
        margin: 0 auto;
    }
    
    h1{
        font-size: 4rem;
        font-weight: 600;
        line-height: 4.841rem;
    }

    h3{
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.816rem;
    }

    h4{
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.361rem;
    }

    h5{
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
    }

    p{
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.75rem;
    }

    #menu-bar{
        display: none;
    }

    .nav{
        display: flex;
    }

    .nav li{
        padding: 0 1rem;
    }

    .br::before{
        content: "";
    }
    .presentation{
        display: flex;
    }

    .presentation div{
        z-index: 10;
        padding-bottom: 5rem;
    }

    .img-looper{
        display: block;
        position: absolute;
        z-index: 1;
        top: 5rem;
        right: 0;
        max-width: 80vw;
    }

    .content-bar{
        content: " ";
        display: block;
        height: 1rem;
        box-shadow: -1.40127px -1.40127px 1.40127px #151515;
    }

    .flex-st{
        justify-content: flex-start;
    }

    .button-presentation{
        margin-right: 2rem;
        width: 30%;
    }

    .button-about-me{
        width: 40%;
    }

    .button-about-me:first-child{
        margin-right: 1rem;
    }

    .img-about-me{
        display: flex;
        align-self: center;
        padding: 0;
        width: 50%;
        height: 50%;
        padding-right: 5rem;
    }

    .projects-flex-wrap{
        display: flex;
        flex-wrap: wrap;
    }

    .project{
        width: 45%;
        flex: 1 1 45%;
    }

    .project:nth-child(odd){
        margin-right: 2.5%;
    }

}